

.main-content {

    width: 100%; 
    height: 70%;
    margin: 0 auto; 
    padding: 20px; 
    flex-grow: 1; 
}

@media (min-width: 600px) {
    .main-content {
        width: 90%;
        height: 70%;
    }
}