body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.footer-class {
    margin-top: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(212, 212, 212, .4);
    width: calc(100% - 40px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(95, 95, 12);
}

footer p {
    text-align: center;
}

footer a {
  
    text-decoration: none;
}

@media (min-width: 600px) {
    footer {
       
        width: 90%;
        margin: 0 auto;
        
    }
}
.logo-card {

}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}