
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(107, 147, 134, .6) ;
    border-bottom: 2px solid rgb(95, 95, 12);

}

header div {
    display: block;
}

.last-name {
    color: rgb(245, 245, 240, 1);
    margin-left: 60%;
}


@media (min-width: 600px) {
    footer 
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        
    }
}