
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(107, 147, 134, 1) ;
}

header div {
    display: block;
}

.last-name {
    color: rgb(245, 245, 240, 1);
    margin-left: 60%;
}

.header-img {
    display: flex;
    width: 20%;
    border-radius: 50%;
    margin-right: -60%;
    box-shadow: 0 0 30px 20px rgb(91, 117, 109);
}

@media (min-width: 600px) {
    footer {
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        
    }
}