
.portfolio-section {
    background-color: rgb(250, 235, 215, .6);
    padding: 20px;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container {
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.card {
    width: calc(33.333% - 10px);
    margin: 10px 10px 10px 10px;
    background-color: rgba(250, 235, 215, .1);
}

.github-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
.deployed-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background-color:  rgba(250, 235, 215, .1);
}

.icon-container {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .container {
        align-items: nowrap;
    }
    .card {
        width: 100%;
    }
}
@media (max-width: 320px) {
    .container {
        align-items: nowrap;
    }
    .card {
        width: 100%;
    }
}
